.blog {
    padding: clamp(40px, 5.208vw, 120px) clamp(20px, 5.215vw, 30px) 260px;
    overflow: hidden;

    &.line::before {
        top: initial;
        bottom: -5%;
        transform: scaleY(-1);
    }

    @media (max-width: 1240px) {
        padding-bottom: 240px;
    }

    @media (max-width: 768px) {
        padding-bottom: 200px;
    }

    &__wrapp {
        display: flex;
        grid-gap: 80px;
        position: relative;

        @media (max-width: 1240px) {
            flex-direction: column;
        }
    }

    &__wrapp-categories {
        max-height: 955px;
        position: sticky;
        top: 20px;
        max-width: 370px;
        width: 100%;
        border-right: 1px solid var(--system-1);

        @media (max-width: 1240px) {
            position: relative;
            flex-direction: column;
            flex-wrap: wrap;
            max-width: 100%;
            border-right: none;
        }
    }

    &__categories {
        padding: 14px 20px;
    }

    &__wrapp-articles {
        min-height: auto;
        max-width: 1370px;
        width: 100%;
        z-index: 2;
    }

    &__articles {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 100px 30px;

        @media (max-width: 1240px) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 60px 15px;
        }

        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 576px) {
            grid-template-columns: 100%;
        }
    }
}
