.faq {
    padding-top: 130px;
    position: relative;
    z-index: 1;

    &__accordion {
        margin-bottom: -110px;
        min-height: 576px;
        max-width: 900px;
        width: 100%;
        background: var(--system-6);
        border: 1px solid var(--system-4);
        box-shadow: 0px 16px 30px rgba(0, 22, 102, 0.16);
        border-radius: 16px;
    }

    &__accordion-item {
        padding: 20px;
        border-bottom: 1px solid var(--system-4);
    }

    &__accordion-title {
        width: 100%;
        position: relative;
        cursor: pointer;

        &::before,
        &::after {
          content: "";
          width: 18px;
          height: 2px;
          background-color: var(--system-1);
          position: absolute;
          right: 0px;
          top: 20px;
          transition: transform 0.3s ease 0s;
        }

        &::after {
          transform: rotate(-90deg);
        }

        &._active::after {
          transform: rotate(45deg);
        }

        &._active::before {
          transform: rotate(-45deg);
        }

        @media (max-width: 576px) {
            &::before,
            &::after {
                top: 8px;
            }
        }
    }

    &__accordion-text {
        padding-top: 20px;
    }

    &__email {
        color: var(--blue-6);
    }
}

