.animation-message {
  position: absolute;
  right: -30px;
  height: 120%;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;

  img {
    display: flex;
  }

  &__item {
    box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.15);
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    &--first {
      animation-name: letter-first;
      animation-duration: 10s;
      animation-delay: 0.5s;
    }

    &--second {
      animation-name: letter-second;
      animation-duration: 10s;
      animation-delay: 2s;
    }

    &--third {
      animation-name: letter-third;
      animation-duration: 10s;
      animation-delay: 3s;
    }

    @media (max-width: 1440px) {
      width: 308px;
    }

    @media (max-width: 1440px) {
      width: 228px;
    }
  }
}

@keyframes letter-first {
  0% {
    opacity: 0;
    transform: translateY(570%);
  }

  10% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  95% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

@keyframes letter-second {
  0% {
    opacity: 0;
    transform: translateY(500%);
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  95% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

@keyframes letter-third {
  0% {
    opacity: 0;
    transform: translateY(150%);
  }

  10% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  90% {
    opacity: 0.5;
  }

  95% {
    opacity: 0.25;
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
