.new {
  padding: 130px clamp(20px, 5.215vw, 30px);
  background-color: var(--system-5);

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-gap: 20px;
  }

  &__info-top {
    display: grid;
    grid-template-areas:
      "a b c"
      "a b d";
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "a b "
        "c d ";
    }

    @media screen and (max-width:575px) {
      grid-template-columns: 100%;
      grid-template-areas:
      "a"
      "b"
      "c"
      "d";
    }


  }

  &__top-link {
    padding: 30px 20px;
    width: 100%;
  }

  &__top-item {
    min-height: Min(32.639vw, 500px);
    width: 100%;
    border-radius: 16px;
    display: flex;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    .new__bot-details {
      margin-top: auto;
      align-items: center;
      width: 100%;
    }

    &:nth-last-child(-n + 2) {
      min-height: Min(12.5vw, 240px);
    }


    &:nth-child(1) {
      grid-area: a;
      background-image: url('/img/new/block1.png');


    }

    &:nth-child(2) {
      grid-area: b;
      background-image: url('/img/new/block2.png');
    }

    &:nth-child(2),
    &:nth-child(1) {
      @media screen and (max-width: 1240px) {
        min-height:  Min(30vw,372px);
      }

      @media screen and (max-width: 1024px) {
        min-height:  Min(45.508vw, 466px);
      }
    }

    &:nth-child(3) {
      grid-area: c;
      background-image: url('/img/new/block3.png');
    }

    &:nth-child(4) {
      grid-area: d;
      background-image: url('/img/new/block4.png');
    }





  }



  &__info-bot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    @media screen and (max-width: 1240px) {
      grid-template-columns: 100%;
    }
  }

  &__bot-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
    height: 240px;
    padding: 0 60px;

    @media screen and (max-width: 575px) {
      padding: 0 30px;
      text-align: center;
    }
  }

  &__bot-item {
    background: linear-gradient(180deg, #3DDC84 0%, #168849 100%);
    border-radius: 16px;
    order: 1;

    &:last-of-type {
      background: #A1A1A1;

      @media screen and (max-width: 1240px) {
        order: 0;
      }
    }
  }

  &__bot-details {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
  }

  &__bot-title {
    max-width: 400px;
    color: var(--system-6);
  }

  &__retail-title {
    color: var(--system-6);
    margin-right: 12px;
  }

  &__bot-icon {
    svg {
      border-radius: 40px;
    }

    @media screen and (max-width: 575px) {
      display: none;
    }
  }
}
