.animation-phone {
    top: -12%;
    left: 40px;
    width: 380px;
    height: 640px;
    position: fixed;
    // animation: animation-phone 10s cubic-bezier(.17,.67,.83,.67) infinite;
    // will-change: transform;

    @media (max-width: 1440px) {
      width: 300px;
      height: 506px;
      top: -5%;
    }

    @media (max-width: 1024px) {
      width: 221px;
      height: 374px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  // @keyframes animation-phone {
  //   0% {
  //     transform: translate(0, 0);
  //   }

  //   20% {
  //     transform: translate(1%, 2%);
  //   }

  //   40% {
  //     transform: translate(3%, 5%);
  //   }

  //   60% {
  //     transform: translate(3%, 0%);
  //   }

  //   80% {
  //     transform: translate(-3%, -5%);
  //   }

  //   100% {
  //     transform: translate(0%, 0%);
  //   }
  // }
