.blog {
    padding: 200px clamp(20px, 5.215vw, 30px) 0;
    background: linear-gradient(180deg, #F0F0F0 0%, #F5F5F5 0.01%, rgba(255, 255, 255, 0) 100%);

    &__wrapp {
        grid-gap: 80px;
    }

    &__bot {
        width: 100%;
    }
}
