.calculate {
    padding: 260px clamp(20px, 5.215vw, 30px) 0;
    background-color: var(--system-5);

    &__shipping {
        display: flex;
        align-items: center;
        padding: 14px;
        background-color: var(--system-6);
        border-radius: 8px;
    }

    &__timer {
        width: 152px;
    }

    &__shipping-text {
        margin-left: 30px;
        max-width: 300px;
    }

    &__shipping-details {
        margin-left: 10px;
    }

    &__block {
        background-color: #fff;
        height: 740px;
        width: 100%;
    }
}
