.contacts {
    padding: 100px clamp(20px, 5.215vw, 30px) 260px;

    &__download {
        padding: 230px 0;
    }

    &__download-wrapp {
        display: flex;
        grid-gap: 42px;
    }

    &__download-details {
        display: flex;
        flex-direction: column;
    }

    &__download-fastlink {
        margin-bottom: 60px;
    }

    &__download-googlplay {
        margin-bottom: 34px;
    }

    &__download-info {
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        grid-gap: 30px;
    }

    &__info-title {
        color: var(--system-6);
    }

    &__info-descr {
        color: var(--system-4);
    }

    &__info {
        display: flex;
        grid-gap: 198px;
    }

    &__details {
        display: flex;
        flex-direction: column;
        grid-gap: 60px;
    }

    &__details-item {
        display: flex;
        flex-direction: column;
        grid-gap: 14px;
    }

    &__details-title {
        color: var(--system-3);
    }

    &__adress {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
    }

    &__adress-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__adress-worktime {
        display: flex;
        grid-gap: 44px;
    }
}
