.download {
    padding: 368px 0 108px;
    background-color: var(--system-1);

    &__block {

    }

    &__center {
        max-width: 720px;
    }

    &__title {
        color: var(--system-6);
    }

    &__descr {
        color: var(--system-4);
    }

    &__links {
        display: flex;
        align-items: center;

        li + li {
            margin-left: 100px;
        }
    }
}
