.dropdown {
    position: relative;
  }

.dropdown__button {
position: relative;
display: flex;
align-items: center;
justify-content: center;
font-weight: 700;
width: 100%;
height: 80px;
background-color: #ffff;
border-radius: 12px;
z-index: 5;
cursor: pointer;

&:focus,
&--active {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
}
}

.dropdown__button.dropdown__button--active::after {
transform: rotate(180deg) translateY(50%);
}

.dropdown__button::after {
content: "";
position: absolute;
background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='27' height='16' viewBox='0 0 27 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M24.627 2L13.3132 13.3137L1.99954 2' stroke='%23C5B873' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
top: 50%;
right: 30px;
transform: translateY(-50%);
width: 25px;
height: 16px;
cursor: pointer;
}

.dropdown__list {
border-top: 0;
display: none;
left: 0;
position: absolute;
overflow: hidden;
z-index: 10;
right: 0;
width: 100%;
height: auto;
background: #ffffff;
box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
border-radius: 12px;
margin: 0 auto;
padding: 0 60px;
}

.dropdown__list--visible {
display: block;

.dropdown__button::after {
    transform: rotate(90deg) translateX(180px);
}
}

.dropdown__list-item {
position: relative;
z-index: 10;
transition: all 0.3s;
display: flex;
align-items: center;
justify-content: center;
height: 80px;
cursor: pointer;
border-bottom: 1px solid #DAD7D7;

&:hover {
    background-color: #fcfcfc;
    transition: 0.2s all;
}
}

.dropdown__input-hidden {
display: none;
}

.dropdown__list-card,
.dropdown__list-name {
color: #3B2158;

&--active {
    color: #DAD7D7;
}
}

.dropdown__list-card {
margin-right: 10px;
}

.dropdown__list-rename {
position: absolute;
right: -30px;
}

.dropdown__button,
.dropdown__list-card--active {
.dropdown__list-rename {
    display: none;
}
}
