.first {
    min-height: 1162px;
    background-color: var(--system-5);
    padding-top: 140px;

    &__wrapp {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 900px;
        margin: 0 auto;
        text-align: center;
        grid-gap: 70px;
    }

    &__wrapp-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 34px;
    }

    &__headline {
        display: flex;
        align-items: center;

        svg {
            margin-right: 16px;
        }
    }

    &__descr {
        max-width: 585px;
    }

    &__wrapp-order {
        width: 246px;
        background-color: var(--blue-6);
        color: var(--system-6);
    }

    &__wrapp-watch {
        width: 246px;
    }
}
