footer {
    background-color: var(--system-1);
    min-height: 526px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer {
    padding: 100px clamp(20px, 5.215vw, 30px) 28px;

    &__copy {
        color: var(--system-3);
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__navigation {
        display: flex;

        ul + ul {
            margin-left: 40px;
        }
    }

    &__nav {
        width: 200px;

        li + li {
            margin-top: 24px;
        }

        li:first-of-type {
            margin-bottom: 30px;
        }
    }

    &__nav-title {
        color: var(--system-2);
    }

    &__nav-link {
        color: var(--system-6);
    }

    &__info-title {
        max-width: 175px;
        color: var(--system-3);
    }

    &__social {
        margin-bottom: 46px;
    }

    &__socials {
        margin-top: 24px;
        display: flex;
        align-items: center;

        li + li {
            margin-left: 20px;
        }
    }

    &__socials-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: var(--system-2);
        border-radius: 10px;
    }

    &__payments {
        margin-top: 32px;
        max-width: 234px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__payments-item {
        filter: grayscale(1);
    }

    &__bot {
        margin-top: 69px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__policy {
        display: flex;
        align-items: center;

        a + a {
            margin-left: 60px;
        }
    }

    &__policy-link {
        color: var(--system-6);
    }
}






