footer {
    background-color: var(--system-1);
    min-height: 526px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer {
    padding: 100px clamp(20px, 5.215vw, 30px) 28px;

    &__copy {
        color: var(--system-3);
    }

    &__bot {
        margin-top: 69px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__policy {
        display: flex;
        align-items: center;

        a + a {
            margin-left: 60px;
        }
    }

    &__policy-link {
        color: var(--system-6);
    }
}






