header {
  background-color: var(--system-6);
  min-height: 98px;
  box-shadow: 0px 10px 14px rgba(0, 22, 102, 0.05);
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px clamp(20px, 5.215vw, 30px);

  &__logo {
    display: flex;
    flex-grow: 1;
    min-width: 167px;
    height: 50px;
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1;

    li + li {
      margin-left: 80px;
    }
  }

  &__nav-link {
    display: flex;
    align-items: center;
    white-space: nowrap;

    svg {
      margin-left: 14px;
    }
  }

  &__btns {
    margin-left: 54px;
    display: flex;
    align-items: center;

    button + button {
        margin-left: 16px;
    }
  }

  &__btn {
    border: 1px solid var(--blue-6);
    border-radius: 8px;
    white-space: nowrap;

    &--basket {
        padding: 10px;
    }

    &--sign {
        padding: 10px 31px;
    }

    &--log {
        padding: 10px 38px;
        background-color: var(--blue-6);
        color: var(--system-6);
    }

    svg {
      fill: transparent;
    }
  }
}
