header {
  background-color: var(--system-6);
  min-height: 98px;
  box-shadow: 0px 10px 14px rgba(0, 22, 102, 0.05);
}


.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 60px;
    padding: 24px clamp(20px, 5.215vw, 30px);

  &__logo {
    display: flex;
    min-width: 167px;
    height: 50px;
  }

  &__nav {
    display: flex;
    align-items: center;

    li + li {
       margin-left: clamp(60px, 4.167vw, 80px);
    }
  }

  &__nav-link {
    display: flex;
    align-items: center;
    white-space: nowrap;

    svg {
      margin-left: 14px;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button + button {
        margin-left: 16px;
    }
  }

  &__lang-select {
    margin-right: clamp(30px, 2.813vw, 54px);
  }

  &__btn {
    border: 1px solid var(--blue-6);
    border-radius: 8px;
    white-space: nowrap;

    &--basket {
        padding: 10px;
    }

    &--sign {
        padding: 10px 31px;
    }

    &--log {
        padding: 10px 38px;
        background-color: var(--blue-6);
        color: var(--system-6);
    }

    svg {
      fill: transparent;
    }
  }
}
