.sale {
    padding-top: 130px;

    &__slider {
        background-color: var(--blue-6);
        overflow: hidden;
    }

    &__wrapper {
        -webkit-transition-timing-function: linear !important;
        transition-timing-function: linear !important;
    }

    &__slide {
        max-width: 370px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__slide-item {
        height: 60px;
        display: flex;
        align-items: center;
    }

    &__text {
        color: var(--system-6);
    }

    &__cirle{
        margin-left: 60px;
        width: 10px;
        height: 10px;
        background-color: var(--blue-3);
        border-radius: 3px;
    }
}
