.tutorial {
    padding: 240px clamp(20px, 5.215vw, 30px) 190px;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        display: flex;
        align-items: center;
    }

    &__all {
        color: var(--blue-6);

        svg {
            margin-left: 12px;
        }
    }

    &__videos {
        margin-top: 89px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__videos-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    &__video {
        filter: drop-shadow(0px 16px 30px rgba(0, 22, 102, 0.16));
        border-radius: 14px;
    }

    &__video-title {
        margin-top: 40px;
    }

    &__video-duration {
        margin-top: 12px;
        color: var(--system-3);
    }
}
