<header>
  <div class="container container--fluid">
    <div class="header">
        <a class="header__logo" href="./index.html">
          <img src="img/sprite/logo.svg" width='167' height='50' alt="logo">
        </a>

        <ul class="header__nav nav">
            <li class="header__nav-item">
                <a class="header__nav-link menu-text" href="./blog.html">Blog</a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link menu-text" href="./tutorials.html">Video Tutorials / FAQ</a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link menu-text" href="./contacts.html">Contacts</a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link header__nav-link--shop menu-text" href="#">Online Shop
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#shop'></use>
                </svg>
              </a>
            </li>
        </ul>

        <div class="header__btns">
            <div class="header__lang lang select">
                <div class="lang__header select__header">
                  <span class="lang__current select__current">
                      <svg width='24' height='18'>
                          <use href='img/sprite/sprite.svg#usa'></use>
                      </svg>
                  </span>
                </div>

                <ul class="lang__body select__body">
                  <li class="lang__item select__item" data-choice='choosen'>
                      <svg width='24' height='18'>
                          <use href='img/sprite/sprite.svg#usa'></use>
                      </svg>
                  </li>
                  <li class="lang__item select__item"  data-choice='choosen'>
                      <svg width='24' height='18'>
                          <use href='img/sprite/sprite.svg#it'></use>
                      </svg>
                    </li>
                  <li class="lang__item select__item" data-choice='choosen'>
                      <svg width='24' height='18'>
                          <use href='img/sprite/sprite.svg#ro'></use>
                      </svg>
                    </li>
                </ul>
            </div>

            <a class="header__btn header__btn--basket button-2" href="./basket.html">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#basket'></use>
                </svg>
                <!-- <span>68€</span> -->
            </a>

            <button class="header__btn header__btn--sign button-1" data-animation="fade" data-speed="300" data-path="sign-up">
                Sign Up
            </button>

            <button class="header__btn header__btn--log button-1" data-animation="fade" data-speed="300" data-path="log-in">
                Log In
            </button>

            <!-- <button class="header__btn header__btn--exit button-1">
                <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#log-exit'></use>
                </svg>
                Exit
            </button> -->

            <div class="mobile">
                <div class="mobile__header-btn mobile__header-btn--open">
                    <svg width='24' height='24'>
                        <use href='img/sprite/sprite.svg#mobile-open'></use>
                    </svg>

                    <span class="button-1">Menu</span>
                </div>

                <div class="mobile__menu">
                    <div class="mobile__menu-header header">
                        <a class="header__logo" href="./index.html">
                            <img src="img/sprite/logo.svg" width='167' height='50' alt="logo">
                        </a>

                        <div class="header__btns">
                            <a href="./basket.html" class="header__btn header__btn--basket button-2">
                                <svg width='24' height='24'>
                                  <use href='img/sprite/sprite.svg#basket'></use>
                                </svg>
                                <!-- <span>68€</span> -->
                            </a>

                            <div class="mobile__header-btn mobile__header-btn--close">
                                <svg width='24' height='24'>
                                    <use href='img/sprite/sprite.svg#mobile-close'></use>
                                </svg>

                                <span class="button-1">Menu</span>
                            </div>
                        </div>

                    </div>

                    <div class="mobile__menu-wrapp">
                        <ul class="mobile__nav-menu">
                            <li class="header__nav-item">
                                <a class="header__nav-link menu-text" href="./blog.html">Blog</a>
                            </li>
                            <li class="header__nav-item">
                              <a class="header__nav-link menu-text" href="./tutorials.html">Video Tutorials / FAQ</a>
                            </li>
                            <li class="header__nav-item">
                              <a class="header__nav-link menu-text" href="./contacts.html">Contacts</a>
                            </li>
                            <li class="header__nav-item">
                              <a class="header__nav-link header__nav-link--shop menu-text" href="#">Online Shop
                                <svg width='24' height='24'>
                                  <use href='img/sprite/sprite.svg#shop'></use>
                                </svg>
                              </a>
                            </li>
                        </ul>

                        <div class="mobile__menu-bot">
                            <div class="mobile__bot-btns">
                                <ul class="mobile__socials">
                                    <li class="mobile__socials-item">
                                        <a href="#" class="mobile__socials-link">
                                            <svg width='22' height='22'>
                                                <use href='img/sprite/sprite.svg#instagram'></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="mobile__socials-item">
                                        <a href="#" class="mobile__socials-link">
                                            <svg width='28' height='18'>
                                                <use href='img/sprite/sprite.svg#youtube'></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="mobile__socials-item">
                                        <a href="#" class="mobile__socials-link">
                                            <svg width='24' height='24'>
                                                <use href='img/sprite/sprite.svg#facebook'></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>

                                <div class="header__lang lang select">
                                    <div class="lang__header select__header">
                                      <span class="lang__current select__current">
                                          <svg width='24' height='18'>
                                              <use href='img/sprite/sprite.svg#usa'></use>
                                          </svg>
                                      </span>
                                    </div>

                                    <ul class="lang__body select__body">
                                      <li class="lang__item select__item" data-choice='choosen'>
                                          <svg width='24' height='18'>
                                              <use href='img/sprite/sprite.svg#usa'></use>
                                          </svg>
                                      </li>
                                      <li class="lang__item select__item"  data-choice='choosen'>
                                          <svg width='24' height='18'>
                                              <use href='img/sprite/sprite.svg#it'></use>
                                          </svg>
                                        </li>
                                      <li class="lang__item select__item" data-choice='choosen'>
                                          <svg width='24' height='18'>
                                              <use href='img/sprite/sprite.svg#ro'></use>
                                          </svg>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <div class="mobile__btns">
                                <button class="header__btn header__btn--log button-1">
                                    <svg width='24' height='24'>
                                        <use href='img/sprite/sprite.svg#log-in'></use>
                                    </svg>
                                    <span>Log In</span>
                                </button>

                                <!-- <button class="header__btn header__btn--exit button-1">
                                    <svg width='24' height='24'>
                                        <use href='img/sprite/sprite.svg#log-exit'></use>
                                    </svg>
                                    <span>Exit</span>
                                </button> -->

                                <button class="header__btn header__btn--sign button-1">
                                    <span>Sign Up</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</header>
