<div class="modal">
  <div class="modal__container" data-animation="fade" data-speed="300" data-target="sign-up">
      <div class="modal__wrapper">
          <div class="modal__head">
              <div class="modal__title">Connect wallet</div>
              <div class="modal__close modal-close">
              <svg  width='16' height='16'>
              <use href='img/sprite/sprite.svg#close'></use>
              </svg>
              </div>
          </div>

          <div class="modal__inner">
              <a href="#" class="modal__metamask">
              <svg  width='25' height='23'>
                  <use href='img/sprite/sprite.svg#metamask'></use>
              </svg>
              <div class="modal__metamask-name">Metamask</div>
              </a>
              <a href="#" class="modal__metamask">
              <svg  width='25' height='23'>
                  <use href='img/sprite/sprite.svg#metamask'></use>
              </svg>
              <div class="modal__metamask-name">Metamask</div>
              </a>
              <a href="#" class="modal__metamask">
              <svg  width='25' height='23'>
                  <use href='img/sprite/sprite.svg#metamask'></use>
              </svg>
              <div class="modal__metamask-name">Metamask</div>
              </a>
              <a href="#" class="modal__metamask">
              <svg  width='25' height='23'>
                  <use href='img/sprite/sprite.svg#metamask'></use>
              </svg>
              <div class="modal__metamask-name">Metamask</div>
              </a>
          </div>
      </div>
  </div>

  <div class="modal__container" data-animation="fade" data-speed="300" data-target="log-in">
    <div class="modal__wrapper">

    </div>
  </div>




  <div class="modal__container" data-animation="fade" data-speed="300" data-target="test">
    <div class="modal__wrapper modal__wrapper--test">
      <div class="modal__close modal-close">
        <svg width='28' height='28'>
          <use href='img/sprite/sprite.svg#mobile-close'></use>
        </svg>
      </div>
      <div class="modal__box">
        <div class="modal__box-title title-4">Test printing</div>
        <p class="modal__box-description text-body">Order a one-page print and we'll send you photos and videos of how our print works soon.</p>
      </div>

      <div class="modal__test">
        <div class="modal__test-details">
          <div class="modal__test-info">
            <div class="modal__print-type basket-choosed">Standart</div>
            <div class="modal__details-image">
              <picture>
                <source type='image/webp' srcset='img/preview.webp'>
                <img width='110' height='140' src='img/preview.png' alt='preview'>
              </picture>
            </div>
            <div class="modal__details-info">
              <div class="modal__details-title">My file about new design on my website.pdf</div>
              <ul class="modal__details-list">
                <li class="modal__details-item">
                  <svg width='14' height='14'>
                    <use href='img/sprite/sprite.svg#color'></use>
                  </svg>
                  <span class="basket-choosed">BN</span>
                </li>
                <li class="modal__details-item">
                  <svg width='14' height='14'>
                    <use href='img/sprite/sprite.svg#color'></use>
                  </svg>
                  <span class="basket-choosed">A4</span>
                </li>
                <li class="modal__details-item">
                  <svg width='14' height='14'>
                    <use href='img/sprite/sprite.svg#color'></use>
                  </svg>
                  <span class="basket-choosed">80 GR</span>
                </li>
                <li class="modal__details-item">
                  <svg width='14' height='14'>
                    <use href='img/sprite/sprite.svg#color'></use>
                  </svg>
                  <span class="basket-choosed">Normal</span>
                </li>
                <li class="modal__details-item">
                  <svg width='14' height='14'>
                    <use href='img/sprite/sprite.svg#color'></use>
                  </svg>
                  <span class="basket-choosed">Automatic</span>
                </li>
                <li class="modal__details-item">
                  <svg width='14' height='14'>
                    <use href='img/sprite/sprite.svg#color'></use>
                  </svg>
                  <span class="basket-choosed">Inkjet</span>
                </li>
                <li class="modal__details-item">
                  <svg width='14' height='14'>
                    <use href='img/sprite/sprite.svg#color'></use>
                  </svg>
                  <span class="basket-choosed">Unfinished</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="modal__alert">
            <div class="modal__alert-icon">
              <svg width='24' height='24'>
                <use href='img/sprite/sprite.svg#alert'></use>
              </svg>
            </div>
            <p class="agreements-text">We print 1 page and send videos and photos of the printed page. We do not ship this page, but only demonstrate print quality.
            </p>
          </div>
        </div>
        <form class="modal__test-form form">
          <fieldset class="payment__card-fieldset form__fieldset">
            <div class="form__fieldset-title text-calc-name">Your Name</div>
            <label class="form__label">
                <input class="form__input text-body" type="text" placeholder="Input your name">
            </label>
          </fieldset>
          <ul class="payment__crypto">
            <li class="payment__crypto-item">
              <label class="payment__crypto-label">
                  <input class="payment__crypto-radio" type="radio" name="connect" id="whatsApp">
                  <span class="payment__crypto-info">
                      <svg width='38' height='38'>
                          <use href='img/sprite/sprite.svg#phone'></use>
                      </svg>

                      <span class="payment__crypto-name agreements-text">WhatsApp</span>
                  </span>
              </label>
            </li>
            <li class="payment__crypto-item">
              <label class="payment__crypto-label">
                  <input class="payment__crypto-radio" type="radio" name="connect" id="mail">
                  <span class="payment__crypto-info">
                      <svg width='38' height='38'>
                          <use href='img/sprite/sprite.svg#icon-mail'></use>
                      </svg>

                      <span class="payment__crypto-name agreements-text">Mail</span>
                  </span>
              </label>
            </li>
          </ul>
          <fieldset class="payment__card-fieldset form__fieldset">
            <div class="form__fieldset-title text-calc-name">Your number or mail</div>
            <label class="form__label">
                <input class="form__input text-body" type="text" placeholder="Enter your number or mail">
            </label>
          </fieldset>
          <button class="modal__btn modal__btn--test button-1">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#print-modal'></use>
            </svg>
            <span>Send a test print request</span>
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="modal__container" data-animation="fade" data-speed="300" data-target="profile">
    <div class="modal__wrapper modal__wrapper--profile">
      <div class="modal__close modal-close">
        <svg width='28' height='28'>
          <use href='img/sprite/sprite.svg#mobile-close'></use>
        </svg>
      </div>
      <div class="modal__profile-title title-4">Please complite your profile to make order</div>
      <form class="modal__profile-form form">
        <div class="modal__profile-labels">
          <fieldset class="form__fieldset form__fieldset--name">
            <div class="form__fieldset-title text-calc-name">Your Name</div>
            <label class="form__label">
                <input class="form__input text-body" type="text" name="name" placeholder="Enter text" required>
            </label>
          </fieldset>
          <fieldset class="form__fieldset form__fieldset--name">
            <div class="form__fieldset-title text-calc-name">Your Name</div>
            <label class="form__label">
                <input class="form__input text-body" type="text" name="name" placeholder="Enter text" required>
            </label>
          </fieldset>
          <fieldset class="form__fieldset form__fieldset--name">
            <div class="form__fieldset-title text-calc-name">Your Name</div>
            <label class="form__label">
                <input class="form__input text-body" type="text" name="name" placeholder="Enter text" required>
            </label>
          </fieldset>
          <fieldset class="form__fieldset form__fieldset--name">
            <div class="form__fieldset-title text-calc-name">Your Name</div>
            <label class="form__label">
                <input class="form__input text-body" type="text" name="name" placeholder="Enter text" required>
            </label>
          </fieldset>
          <fieldset class="form__fieldset form__fieldset--name">
            <div class="form__fieldset-title text-calc-name">Your Name</div>
            <label class="form__label">
                <input class="form__input text-body" type="text" name="name" placeholder="Enter text" required>
            </label>
            <label class="modal__profile-label">
                <input type="checkbox" name="nationality">
                <span class="modal__profile-checkbox agreements-text">I am not a Turkish national</span>
            </label>
          </fieldset>
        </div>
        <div class="modal__profile-divider"></div>
        <div class="modal__profile-labels">
          <fieldset class="form__fieldset form__fieldset--name">
            <div class="form__fieldset-title text-calc-name">Your Name</div>
            <label class="form__label">
                <input class="form__input text-body" type="text" name="name" placeholder="Enter text" required>
            </label>
          </fieldset>
          <fieldset class="form__fieldset form__fieldset--name">
            <div class="form__fieldset-title text-calc-name">Your Name</div>
            <label class="form__label">
                <input class="form__input text-body" type="text" name="name" placeholder="Enter text" required>
            </label>
          </fieldset>
          <fieldset class="form__fieldset form__fieldset--name">
            <div class="form__fieldset-title text-calc-name">Your Name</div>
            <label class="form__label">
                <input class="form__input text-body" type="text" name="name" placeholder="Enter text" required>
            </label>
          </fieldset>
          <fieldset class="form__fieldset form__fieldset--name">
            <div class="form__fieldset-title text-calc-name">Your Name</div>
            <label class="form__label">
                <input class="form__input text-body" type="text" name="name" placeholder="Enter text" required>
            </label>
          </fieldset>
          <fieldset class="form__fieldset form__fieldset--name">
            <div class="form__fieldset-title text-calc-name">Your Name</div>
            <label class="form__label">
                <input class="form__input text-body" type="text" name="name" placeholder="Enter text" required>
            </label>
          </fieldset>
        </div>
      </form>
      <button class="modal__btn modal__btn--profile button-1">
        <span>Save Information</span>
      </button>
    </div>
  </div>

  <div class="modal__container" data-animation="fade" data-speed="300" data-target="payments">
    <div class="modal__wrapper modal__wrapper--payments">
      <div class="modal__payments-head">
        <div class="modal__box-title title-4">Security Payments with Stripe</div>
        <div class="modal__close modal-close">
          <svg width='28' height='28'>
            <use href='img/sprite/sprite.svg#mobile-close'></use>
          </svg>
        </div>
      </div>
      <form class="payment__card-form form">
        <fieldset class="payment__card-fieldset form__fieldset">
            <div class="form__fieldset-title text-calc-name">Holder</div>
            <label class="form__label">
                <input class="form__input text-body" type="text" placeholder="Card Name">
            </label>
        </fieldset>

        <fieldset class="payment__card-fieldset form__fieldset">
            <div class="form__fieldset-title text-calc-name">Credit or debit card</div>
            <div class="payment__card-labels">
                <label class="form__label">
                    <input class="form__input text-body" type="text" placeholder="Card Name">
                </label>
                <label class="form__label">
                    <input class="form__input text-body" type="text" placeholder="MM / YY">
                </label>
                <label class="form__label">
                    <input class="form__input text-body" type="text" placeholder="CVC">
                </label>
            </div>
        </fieldset>

        <button class="modal__btn modal__btn--payments button-1">
          <span>Pay 68.44 RON</span>
        </button>
    </form>


    </div>
  </div>

  <div class="modal__container" data-animation="fade" data-speed="300" data-target="log-out">
    <div class="modal__wrapper">
      <div class="modal__close modal-close">
        <svg width='28' height='28'>
          <use href='img/sprite/sprite.svg#mobile-close'></use>
        </svg>
      </div>
      <div class="modal__box">
        <div class="modal__box-icon">
          <svg width='41' height='41'>
            <use href='img/sprite/sprite.svg#alert'></use>
          </svg>
        </div>
        <div class="modal__box-title title-4">Do you really want logout?</div>
      </div>
      <div class="modal__btns">
        <button class="modal__btn button-1">
          <span>Cancel</span>
        </button>
        <button class="modal__btn modal__btn--red button-1">
          <span>Yes, logout</span>
        </button>
      </div>
    </div>
  </div>

  <div class="modal__container" data-animation="fade" data-speed="300" data-target="delete">
    <div class="modal__wrapper">
      <div class="modal__close modal-close">
        <svg width='28' height='28'>
          <use href='img/sprite/sprite.svg#mobile-close'></use>
        </svg>
      </div>
      <div class="modal__box">
        <div class="modal__box-icon">
          <svg width='41' height='41'>
            <use href='img/sprite/sprite.svg#alert'></use>
          </svg>
        </div>
        <div class="modal__box-title title-4">Do you really want delete all orders?</div>
        <div class="modal__alert">
          <div class="modal__alert-icon">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#alert'></use>
            </svg>
          </div>
          <p class="agreements-text">If you delete the cart now, all your settings will disappear and you will not restore your order data. <br>
            Is that exactly what you want?</p>
        </div>
      </div>
      <div class="modal__btns">
        <button class="modal__btn button-1">
          <span>Cancel</span>
        </button>
        <button class="modal__btn modal__btn--red button-1">
          <span>Yes, delete</span>
        </button>
      </div>
    </div>
  </div>

  <div class="modal__container" data-animation="fade" data-speed="300" data-target="order">
    <div class="modal__wrapper">
      <div class="modal__close modal-close">
        <svg width='28' height='28'>
          <use href='img/sprite/sprite.svg#mobile-close'></use>
        </svg>
      </div>
      <div class="modal__box">
        <div class="modal__box-icon">
          <svg width='41' height='41'>
            <use href='img/sprite/sprite.svg#alert'></use>
          </svg>
        </div>
        <div class="modal__box-title title-4">You must place an order from your account</div>
        <div class="modal__alert">
          <div class="modal__alert-icon">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#alert'></use>
            </svg>
          </div>
          <p class="agreements-text">Log in to your personal account or register. If you refresh the page now, all settings will be deleted. So open an account and continue ordering now.</p>
        </div>
      </div>
      <div class="modal__btns">
        <button class="modal__btn button-1" data-path="sign-up">
          <span>Sign up</span>
        </button>
        <button class="modal__btn button-1" data-path="log-in">
          <span>Log in</span>
        </button>
      </div>
    </div>
  </div>
</div>
