.title-1 {
  font-family: var(--font-family);
  font-size: 90px;
  line-height: 107%;
  font-weight: 800;
  letter-spacing: -2px;
  font-style: normal;
  color: var(--system-1);
}

.title-2 {
  font-family: var(--font-family);
  font-size: 46px;
  line-height: 120%;
  font-weight: 800;
  font-style: normal;
  color: var(--system-1);
}


.title-3 {
  font-family: var(--font-family);
  font-size: 32px;
  line-height: 106%;
  font-weight: 800;
  font-style: normal;
  color: var(--system-1);
}


.title-4 {
  font-family: var(--font-family);
  font-size: 24px;
  line-height: 117%;
  font-weight: 700;
  font-style: normal;
  color: var(--system-1);
}


.title-5 {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 122%;
  font-weight: 700;
  font-style: normal;
  color: var(--system-1);
}

.sale-text {
  font-family: var(--font-family);
  font-size: 26px;
  line-height: 120%;
  font-weight: 800;
  font-style: italic;
  text-transform: lowercase;
  color: var(--system-1);
}

.text-headline {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  font-style: normal;
  color: var(--system-1);
}

.menu-text {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 125%;
  font-weight: 700;
  font-style: normal;
  color: var(--system-1);
}

.star-text {
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 125%;
    font-weight: 600;
    font-style: normal;
    color: var(--system-1);
  }

.reviews-text {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    font-style: normal;
    color: var(--system-1);
  }

.text {
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
  font-style: normal;
  color: var(--system-1);
}

.text-body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 162%;
  font-weight: 400;
  font-style: normal;
  color: var(--system-1);
}

.button-1 {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 125%;
  font-weight: 700;
  font-style: normal;
  color: var(--system-1);
}

.button-2 {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 128%;
  font-weight: 700;
  font-style: normal;
  color: var(--system-1);
}

.button-filtr {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  font-style: normal;
  color: var(--system-1);
}

.text-detail {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 123%;
  font-weight: 500;
  font-style: normal;
  color: var(--system-1);
}

.text-decor {
  font-family: var(--font-family);
  font-size: 13px;
  line-height: 120%;
  font-weight: 900;
  font-style: italic;
  color: var(--system-1);
}

.button-footer {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  font-style: normal;
  color: var(--system-1);
}

.text-calc-name {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 125%;
  font-weight: 700;
  font-style: normal;
  color: var(--system-1);
}

.text-calc-descr {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 143%;
  font-weight: 500;
  font-style: normal;
  color: var(--system-1);
}

.text-calc-other {
  font-family: var(--font-family);
  font-size: 36px;
  line-height: 139%;
  font-weight: 600;
  font-style: normal;
  color: var(--system-1);
}

.text-calc-btn {
  font-family: var(--font-family);
  font-size: 40px;
  line-height: 120%;
  font-weight: 700;
  font-style: normal;
  color: var(--system-1);
}

.text-calc-total {
  font-family: var(--font-family);
  font-size: 50px;
  line-height: 100%;
  font-weight: 600;
  font-style: normal;
  color: var(--system-1);
}

.text-basket {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 125%;
  font-weight: 600;
  font-style: normal;
  color: var(--system-1);
}

.text-town {
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 120%;
    font-weight: 600;
    font-style: normal;
    color: var(--system-1);
  }


